<nav class="top-navbar">
  <div class="left-wrap">
    <a class="menu-trigger" href="https://www.ngdiagram.dev/">
      <img src="assets/ngd-logo.svg" alt="ngD logo" />
    </a>
  </div>
  <div class="right-wrap">
    <app-theme-toggle />
    <span class="navbar-separator" aria-hidden="true"></span>
    <app-project-storage-menu />
    <span class="navbar-separator" aria-hidden="true"></span>
    <app-wireviz-tools />
    <span class="navbar-separator" aria-hidden="true"></span>
    <app-export-menu />
  </div>
</nav>
